/* Colores de todo */
$color1:#073B4C;
$color2:#118AB2;
$color3:#06D6A0;
$color4:#FFD166;
$color5:#EF476F;

.topnav {
    background-color: $color1;
    overflow: hidden;
  }
  /* Texto nav bar */
  .topnav a {
    float: right;
    color: $color4;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Colores del hover */
  .topnav a:hover {
    background-color: $color2;
    color: black;
  }
  
  /* Ultimo boton- ver como hacer para solo hacer esto en el activo cuando veamos modulos */
  .topnav a.active {
    background-color: $color4;
    color: $color5;
  }